body {
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* estilos generales */
nav .brand-logo,
nav ul a,
h2 {
  color: #26a69a;
}

/* dando estilos al header */
.navbar {
  padding-top: 20px;
  height: 100px;
  background-color: #e0f2f1;
  box-shadow: none;
}
nav .sidenav-trigger i {
  color: #26a69a;
  font-size: 40px;
}

/* about me */
.hero-img {
  width: 100%;
  height: 400px;
  background-image: url("../assets/img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-img h1 {
  text-align: center;
  color: #26a69a;
  font-weight: bold;
}
.hero-img h4 {
  width: 300px;
  position: absolute;
  padding: 10px;
  bottom: 80px;
  left: 40px;
  color: #e0f2f1;
}

/* my skills  */

.input-field.range-skills {
  height: 75px;
  display: flex;
}
input[type=range] {
  border: none;
}
/* servicios */
.servicios-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
.servicios-container div {
  display: grid;
  place-items: center;
  color: #26a69a;
}

/* portafolio */
.portafolio-container {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px 20px;
}

/* clientes */
.clientes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 20px 20px;
}

/* formulario */
textarea {
  width: 100%;
  height: 150px;
}

/* footer */
footer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: #e0f2f1;
}
@media (max-width: 652px){
  .portafolio-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px 20px;
  }
}